---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/landing/HeroWithLogo.astro";
import ServicesPreview from "../components/landing/ServicesPreview.astro";
import TrustLogos from "../components/landing/TrustLogos.astro";
import CTABlock from "../components/landing/CTABlock.astro";
import Membership from "../components/landing/Membership.astro";
import TLPSection from "../components/landing/TLPSection.astro";
import ReportsFeed from "../components/landing/ReportsFeed.astro";
import SocialFeed from "../components/landing/SocialFeed.astro";
import Testimonials from "../components/landing/Testimonials.astro";
---

<Layout title="Home">
	<main>
		<Hero />
		<ServicesPreview />
		<ReportsFeed />
		<SocialFeed />
		<CTABlock
			title="Secure Your Organization"
			description="Don't wait for an incident to happen. Contact TIBCERT today for a security assessment."
			primaryAction={{ label: "Contact Us", href: "/contact" }}
			secondaryAction={{ label: "Learn More", href: "/services" }}
			inverted={true}
		/>
		<Membership />
		<TLPSection />
		<Testimonials />
		<TrustLogos />
	</main>
</Layout>
